@model IEnumerable<FeallesMvcService.Models.Feallesbase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvisTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avisdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornavne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foedt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doebenavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erhverv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SognID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TidlBopael)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doedsdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begravelsesdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begravelsessted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efterladte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlereDoedsannoncer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AndreDataFraAnnoncen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oegenavne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nekrolog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mindeord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statstidende)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partnerlink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvisTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avisdato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foedt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doebenavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erhverv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SognID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TidlBopael)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doedsdato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begravelsesdato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begravelsessted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efterladte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlereDoedsannoncer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AndreDataFraAnnoncen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oegenavne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nekrolog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mindeord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statstidende)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partnerlink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
